@import "../../variables.scss";
a.btn-main, .btn-submit {
    color: $white;
    background: $primary;
    padding: .6rem 1rem;
    transition: .4s ease-in-out;
    .b-icon{
        font-size: 1.5rem;
        vertical-align: -0.3em;    
        position: relative;
        transition: .4s ease-in-out;
        left: 0;        
    }
    &:hover {
        background: $second;
        .b-icon {
            left: .3rem;
        }
        .left-arrow {
            left: -.3rem;
        }
    }

}
.btn-secondary:active{
    
}