@import '../../variables.scss';

.login-container {
    width: 100vw;
    height: 100vh;
    float: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: $white;
    .form-forgot {

        width: 35rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        form {
            .btn {
                // margin: 2rem;
                margin-top: 1rem;
                margin-left: 18.5rem;

                &:hover {
                    background: $second;
                    transform: scale(1.05);
                }
            }
        }

    }
}

@media only screen and (max-width: 992px) {
    .login-container .form-forgot {

        width: 30rem;

        form {
            .button {
                width: 20rem;

                .btn {
                    margin: 1rem;
                    margin-left: 16rem;
                    // width: 1rem;

                }
            }
        }

    }

}

@media only screen and (max-width: 480px) {
    .login-container .form-forgot {
        width: 25rem;
        box-shadow: none;

        form {
            .button {
                width: 50rem;
                margin: auto;
                display: flex;
                justify-content: center;

                .btn {
                    margin: 1rem;
                }
            }
        }

    }
}