@import '../../variables.scss';

.login-container {
    width: 100vw;
    height: 100vh;
    float: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: $white;

}

.loginform {

    width: 35rem;

    // margin-top: 5rem;
    .main-card {
        justify-content: center;
        padding: 2.5rem;

        .btns {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
        }

        button {
            width: 10rem;

            &:hover {
                background: $second;
                transform: scale(1.05);
            }
        }

        .b-icon {
            top: 2.8rem;
            right: 1rem;
        }
    }
}

@media only screen and (max-width: 992px) {
    .loginform {
        width: 36rem;
        margin: auto;

    }

}

@media only screen and (max-width: 768px) {
    .loginform {
        width: 35rem;
        margin: auto;
    }
}

@media only screen and (max-width: 576px) {
    .loginform {
        padding: 0;
        width: 30rem;

        .main-card {
            box-shadow: none;
            display: block;

            .text {
                margin-left: 1rem;
            }

            form {
                margin: auto;
                padding: 0;
                width: 27rem;
            }

            .btns {
                display: block;

                button {
                    margin-top: 1rem;
                    width: 24.9rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .loginform {
        width: 27rem;
        margin: auto;
        justify-content: center;

        .main-card {
            form {
                margin: auto;
                width: 24rem;
            }

            .btns {
                margin: auto;
                display: block;

                button {
                    margin-top: 2rem;
                    width: 22rem;
                }
            }
        }


    }
}