@import "../../variables.scss";
@import "../main.scss";

.resetPw,
.verifyPw {
  width: 100vw;
  height: 100vh;
  float: left;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: $white;

  .form-container {
    background: $white;
    width: 35rem;
    margin: auto;
  }

  .forgot-pw {
    color: $primary;
    font-weight: 600;
    transition: 0.4s ease-in-out;

    &:hover {
      color: $second;
    }
  }

  .form-text {
    position: relative;

    .b-icon {
      cursor: pointer;
      position: absolute;
      right: 0.6rem;
      bottom: 16%;
    }
  }
}

.resetPw {
}

.verifyPw {
}

@media only screen and (max-width: 448px) {
  .resetPw,
  .verifyPw {
    .form-container {
      width: 100%;
      box-shadow: 0rem 0rem rgb(255, 255, 255) !important;
    }
  }
}
